/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}
.logimg{
    height: 432px;
}
.lgimg{
    height: 600px;
    border-radius: 23px;
    /* padding: 91px; */
    /* border: 2px solid; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    /* transition: transform 0.3s ease; */
    margin: 43px;
}
.lgimg:hover{
    transform: scale(1.05);
  }
  .logimg:hover{
    transform: scale(1.05);
  }

.login-box h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px -8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-box button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 10px;
    font-size: 14px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
