/* Signup.css */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.sgimg{
    height: 500px;
    border-radius: 23px;
    /* padding: 91px; */
    /* border: 2px solid; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    /* transition: transform 0.3s ease; */
    margin: 43px;
}
.sgimg:hover{
    transform: scale(1.05);
  }
  .signupimg:hover{
    transform: scale(1.05);
  }
.signup-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.signup-box h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #333;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    margin: 8px -8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-box button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-box button:hover {
    background-color: #218838;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: #28a745;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
